<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HAVA自动部署平台</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-select.css">
    <link href="../static/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet"/>
    <script src="../static/bootstrap-table/dist/bootstrap-table.js"></script>
    <script src="../static/bootstrap-table/src/locale/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="../static/js/i18n/defaults-zh_CN.min.js"></script>
    <script type="text/javascript" src="../static/js/mission.js"></script>

</head>

<body>


<div align="center">
    <h1> HAVI自动部署平台</h1>
    <h2> 运维维护人员</h2>
    <form action="/submit/" method="post" onsubmit="return havaSubmit()">
        <fieldset>
            <legend>HAVA平台:</legend>
            IP :<input type="text" id="ip" name="ip">
            用户名 :<input type="text" id="user" name="user">
            密码 :<input type="text" id="password" name="password"><br><br>
            HAVA服务器: <select onChange="change()"
                             id="hava_node" name="hava_node" class="selectpicker" data-live-search="true">

        </select>
            HAVA特殊环境: <select id="hava_config"
                              name="hava_config" class="selectpicker">
        </select>
            HAVA用户组 :<select class="selectpicker" id="hava_user_group" data-live-search="true"
                             name="hava_user_group">
            {% for item_user in hava_user_group %}
                <option value= {{ item_user }}>{{ item_user }}</option>
            {% endfor %}
        </select><br><br>
            <button type="submit" class="btn-success" id="submit" value="提交">提交</button>
            <button type="reset" class="btn-default">清除</button>
        </fieldset>
        <br> <br>
    </form>

</div>


<div align="center">
    <form action="/index/" method="get">
        IP ：<input type="text" name="ip" placeholder="请输入IP">
        <button name="submit">查询</button>
    </form>

    <table class="table" cellpadding="1" cellspacing="0" border="1">
        <caption align="top">日志查询</caption>
        <thead>
        <tr>
            <th>日志ID</th>
            <th>IP</th>
            <th>hostname</th>
            <th>日志名称</th>
            <th>运行进度</th>
            <th>运行状态</th>
            <th>创建时间</th>
            <th>审批状态</th>
        </tr>
        </thead>
        <tbody>
        {% for line in contacts %}
            <tr>
                <td>{{ line.log_id }}</td>
                <td>{{ line.ip }}</td>
                <td>{{ line.host_name }}</td>
                <td>
                    <a href="/show_log?log_name={{ line.hava_submit_log_name }}&ip={{ line.ip }} "
                       target="_blank">{{ line.hava_submit_log_name }}</a></td>
                <td>{{ line.step }}</td>
                <td>{{ line.states }}</td>
                <td>{{ line.gmt_create }}</td>
                <td>{{ line.approve_states }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            当前第 {{ contacts.number }}页 ，共 {{ contacts.paginator.num_pages }}页
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">下一页</a>
        {% endif %}
    </span>
    </div>
</div>

<script>
    //初始化
    window.onload = function () {
        document.getElementById("hava_node").options.length = 0;
        for (const i in hava_node_conf) {
            $("#hava_node").append(new Option(i, i));
        }

        change();
    };

    let hava_node_conf = {
        "10.121.143.1": ["本地1", "本地2", "本地3", "本地4"],
        "10.121.105.73": ["云1", "云2", "云3", "云4"],
    };

    function change() {
        //清空选项
        document.getElementById("hava_config").options.length = 0;

        let hava_node = $("#hava_node").val();
        data = hava_node_conf[hava_node];

        for (const i in data) {
            const temp = data[i];
            $("#hava_config").append(new Option(temp, temp));
        }

        {#重绘UI#}
        $('.selectpicker').selectpicker('refresh');

    }

    function havaSubmit() {
        var ip = document.getElementById("ip").value;
        var user = document.getElementById("user").value;
        var password = document.getElementById("password").value;
        var hava_node = document.getElementById("hava_node").value;
        var hava_user_group = document.getElementById("hava_user_group").value;
        var hava_config = document.getElementById("hava_config").value;

        var message = '';

        var submit_data = {
            'ip': ip
            , 'user': user
            , 'password': password
            , 'hava_node': hava_node
            , 'hava_user_group': hava_user_group
            , 'hava_config': hava_config
        };


        if (ip.length == 0) {
            message += '请输入IP;';
        }
        if (user.length == 0) {
            message += '请输入用户名;';
        }
        if (password.length == 0) {
            message += '请输入密码;';
        }
        if (message != '') {
            alert(message);
            return false
        }

        $.post('/submit/', submit_data,
            function (res) {
                if (res.result == 'fail') {
                    alert(res.context);
                    //跳转至当前页
                    window.location.href = ''
                }
                else {
                    alert(res.context);
                    window.location.href = ''
                }

            });

        return false;

    }


</script>


</body>
</html>