<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HAVA自动部署平台</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-select.css">
    <link href="../static/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet"/>
    <script src="../static/bootstrap-table/dist/bootstrap-table.js"></script>
    <script src="../static/bootstrap-table/src/locale/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="../static/js/i18n/defaults-zh_CN.min.js"></script>
    <script type="text/javascript" src="../static/js/mission.js"></script>


</head>

<body>


<div align="center">
    <h1> HAVI自动部署平台</h1>
    <h2> 运维维护人员</h2>
    <form action="/index/submit/" method="post" id='hava_submit'>
        <fieldset>
            <legend>HAVA平台:</legend>
            IP :<input type="text" name="ip"><br>
            用户名 :<input type="text" name="user"><br>
            密码 :<input type="text" name="password"><br>
            HAVA服务器: <select onChange="change()"
                             id="hava_node" name="hava_node" class="bootstrap-select" data-style="btn-primary">
            <option value="10.121.143.1">10.121.143.1</option>
            <option value="10.121.105.73">10.121.105.73</option>
        </select> <br>
            HAVA特殊环境: <select id="hava_config"
                              name="hava_config" class="bootstrap-select" data-style="btn-primary">
            <option value="本地1">本地1</option>
            <option value="本地2">本地2</option>
            <option value="本地3">本地3</option>
            <option value="本地4">本地4</option>
        </select><br>
            HAVA用户组 :<select class="bootstrap-select" data-style="btn-primary" id="hava_user_group"
                             name="hava_user_group">
            <option value="测试">测试</option>
            <option value="研发">研发</option>
            <option value="PM">PM</option>
        </select><br>
            提交：
            <button type="submit" onclick="hava_submit()">提交</button>
        </fieldset>
    </form>

</div>


<script>

    {#$('.hava_node').selectpicker('val', '1').trigger("change");#}

    function change() {
        var x = document.getElementById("hava_node");
        var y = document.getElementById("hava_config");
        y.options.length = 0; // 清除second下拉框的所有内容
        if (x.selectedIndex == 0) {
            y.options.add(new Option("本地1", "0", false, true));
            y.options.add(new Option("本地2", "1"));
            y.options.add(new Option("本地3", "2"));
            y.options.add(new Option("本地4", "3"));

        }

        if (x.selectedIndex == 1) {
            y.options.add(new Option("云1", "0", false, true));
            y.options.add(new Option("云2", "1"));
            y.options.add(new Option("云3", "2"));
            y.options.add(new Option("云4", "3"));
        }

    }
</script>


</body>
</html>